*{
    margin: 0px;
    padding: 0px;
    font-family: 'Source Code Pro', monospace;

}
/* banner-section-start */
.baneer-main-image{
    width: 450px;
    height: 600px;
    /* margin-top: 40px; */
    
}
.banner-container{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e4cfd4;
}
.banner-title{
    font-family: 'Cinzel', serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    color: #5a101a;
}
.banner-desh{
    text-align: left;
    padding-left: 50px;
    width: 600px;
}
.banner-description{
    /* margin: 50px; */
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    color: rgba(39, 39, 39, 0.60);

    
}
.btn-primary{
    display: inline-flex;
    padding: 10px 25px;
    align-items: flex-start;
    gap: 10px;
    border: none;
    background-color: #E55473;
    font-size: 15px;
    font-weight:bold;
    margin-top: 10px;
    color: white;
    border-radius: 5px;  
}




/* banner-section-end */


/* feature section start */
.feature-image{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* margin-left: 100px; */
    margin: 50px 100px 10px 100px;
    /* padding: 20px; */
    /* background-color: rgb(231, 235, 5); */
    
}
.feature-flower{
    width: 150px;
    height: 200px;
    background-size:cover;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 50px;
    gap: 5px;

}
.feature-description{
    width: 50%;
    text-align: center;
    margin: auto;
    /* background-color: #5a101a; */
    margin-top: 100px;
}
.feature1{
    background-color: #F2DEE7;
}
.feature2{
    background-color: black;
}
.feature3{
    background-color: #E3EBDB;
}
.feature-image-caption{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
    /* background-color: yellow; */
    text-align: center;
    margin: 10px 100px 10px 100px;
    gap: 50px;
    text-decoration: underline;
    font-size: 10.2px;
    font-weight: bolder;
}
/* feature section end */