*{
    margin: 0px;
    padding: 0px;
    font-family: 'Source Code Pro', monospace;

}
/* banner-section-start */
.baneer-main-image{
    width: 450px;
    height: 600px;
    /* margin-top: 40px; */
    
}
.banner-container{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e4cfd4;
}
.banner-title{
    font-family: 'Cinzel', serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    color: #5a101a;
}
.banner-desh{
    text-align: left;
    padding-left: 50px;
    width: 600px;
}
.banner-description{
    /* margin: 50px; */
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    color: rgba(39, 39, 39, 0.60);

    
}
.btn-primary{
    display: inline-flex;
    padding: 10px 25px;
    align-items: flex-start;
    gap: 10px;
    border: none;
    background-color: #E55473;
    font-size: 15px;
    font-weight:bold;
    margin-top: 10px;
    color: white;
    border-radius: 5px;  
}




/* banner-section-end */


/* feature section start */
.feature-image{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* margin-left: 100px; */
    margin: 50px 100px 10px 100px;
    /* padding: 20px; */
    /* background-color: rgb(231, 235, 5); */
    
}
.feature-flower{
    width: 150px;
    height: 200px;
    background-size:cover;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 50px;
    gap: 5px;

}
.primary-description{
    width: 50%;
    text-align: center;
    margin: auto;
    /* background-color: #5a101a; */
    margin-top: 100px;
}
.feature1{
    background-color: #F2DEE7;
}
.feature2{
    background-color: #daafb9;
}
.feature3{
    background-color: #E3EBDB;
}
.feature-image-caption{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
    /* background-color: yellow; */
    text-align: center;
    margin: 10px 100px 10px 100px;
    gap: 50px;
    text-decoration: underline;
    font-size: 10.2px;
    font-weight: bolder;
}
.feature-desh{
    font-size: 15px;
    font-weight: 500;
    color: rgba(39, 39, 39, 0.60);
}

/* feature section end */

/* delivery section start */

.hot-deal{
    width: auto;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #E554730D;
}
.deal-info{
    width: 50%;
    font-size: 13px;
    font-weight: 800;
    text-align: center;
}
.deal-header{
    font-weight: 1200;
    font-family: 'Notable', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
    /* margin-left: 30px; */
}
.deal-paragraph{
    font-size: smaller;
    /* margin-left: 30px; */
    color: rgba(39, 39, 39, 0.60);
    margin-bottom: 20px;
}
.image-deal{
    width: 200px;
    margin-right: 60px;
}
/* delivery section end */
/* instra section start */
.instra-desh{
    font-size: 15px;
    font-weight: 500;
    color: rgba(39, 39, 39, 0.60);
    /* margin-top: 10px; */
    margin-bottom: 15px;
}
.instra-image{
    width: auto;
    height: 300px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding: 5px 20px;
    
    
}
.image-instra{
    width: 250px;
    height: 270px;
    background-size: cover;
}
.istra-heading-desh{
    margin-top: 30px;
}
/* instra section end */


/*  latest section start  */
.latest-container{
    background-image: url('./Flower Asset/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 800px;
    height: 250px;
    display: flex;
    /* justify-content:space-around; */
    align-items: center;
    margin: 50px ;
    margin-left: 100px;
}
.text-box{
    /* width: 200px; */
    display: block;
    margin-bottom: 10px;
    margin-top: 15px;
    padding: 10px 25px;
    color: #757575;
    font-size: 20px;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    width: 100%;
}
.box-container{
    display: flex;
    /* align-items: center; */
}
.box-desh{
    margin-top: 60px;
}

/*  latest section end  */
/* pre order section start */
.pre-order-container{
    width: auto;
    height: 300px;
    background-color: #5a101a;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.chack-box{
    width: 200px;
    height: 200px;
}
.box1{
    width: 300px ; 
    height: 30px;
}
.box2{
    width: 310px ; 
    height: 30px;
}
.box3{
    width: 320px ; 
    height: 30px;
}
.box4{
    width: 300px ; 
    height: 30px;
}
.name-section{
    align-items: center;
}
/* pre order section end */



/* footer section start */
.footer-container{
    background-color: #111010;
    width: auto;
    height: 200px;
    text-align: center; 
}
/* .footer-info{
    margin-top: 50px;
} */
.flower{
    color: #E55473;
    font-weight: bolder;
}
.shop{
    color: white;
    padding: 40px 0 0 0;
}
.footer-description{
    color: white;
    width: 50%;
    margin-left: 250px;
    margin-top: 10px;
}
.copyright{
    text-align: center;
    color: white;
    font-size: 10px;
    font-weight: 400;
    padding-top: 30px;
    }

/* footer section end */